html, *{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #FCDAB7;
}
.title{
    margin: 0 0 0 auto;
    width: 55%!important;
}
#thumbnails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1vw;
    column-gap: 1vw;
    width: 100%;
    padding-top: 1%;
}
.thumbnail {
    width: 14.5vw;
    height: auto;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-radius: 0.25vw;
    transition: transform 0.2s;
    margin-bottom: 0.5vw;
}
.thumbnail-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20vh;
    padding: 0.5vw;
    background-color: #133B5C;
    border-radius: 0.5vw;
}
form{
    background-color: #1D2D50;
    padding: 1%;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5%;
}
#generateThumbnailsButton, #inputlab, #clear, .title{
    white-space:nowrap;
    width: 15%;
    font-size: 1.2vw;
    border: none;
    border-radius: 0.5vw;
    padding: 0.75vw 1.5vw;
    text-align: center;
    text-decoration: none;
}
#inputlab{
    background-color: #1E5F74;
}
#generateThumbnailsButton, #clear{
    background-color: #1E5F74;
}
#movies{
    display: none;
}